.tweet-list-container{
    border-bottom: 1px solid #c5c5c5;
}

.retweet-list{
    padding: 20px;
}

.retweeted-by{
    margin-bottom: 20px;
    font-size: 12px;
}

.retweeted-text {
    margin-left: 5px;
}

