.tweet-filter-container {
    padding: 20px;
}

.tweet-filter-input {
    border: 1px solid #3c6283;
    border-radius: 16px;
    padding: 10px;
}

.tweet-filter-input input[type="text"]:focus{
    outline: none;
}

input[type="radio"] {
    accent-color: #666666
}

.tweet-filter-radio-btn {
    margin: 0 0 15px 0;
}

.tweet-filter-radio-btn label {
    margin-left: 10px;
}

.number-posts{
    display: flex;
}

.number-posts label {
    margin-top: 4px;
}

.number-posts input{
    width: 2rem;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
}

.number-posts input[type="text"]:focus{
    outline: none;
}

.pagination-heading{
    margin: 1rem 0 1rem 0;
    font-size: 17px;
    font-weight: 600;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: left;
    padding-left: 0;
}

.pagination li {
    margin: 0 5px;
}
  
.pagination li a {
    text-decoration: none;
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color: #cfdae7;
    color: #000;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s;
    font-weight: 600;
}
  
.pagination li a.active, .pagination li a:hover {
    background-color: #385f80;
    color: white;
}